/* ==== 
 --------- (2.03) global styles start ---------
 ==== */

img {
  max-width: 100%;
  height: auto;
  border: 0px;
  outline: 0px;
  object-fit: cover;
  object-position: left top;
}

i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

span {
  display: inline-block;
}

.unset {
  max-width: unset;
}

.dir-rtl {
  direction: rtl;
}

// font weights
.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.lh-0 {
  line-height: 0;
}

.sora {
  font-family: var(--sora);
}


// text colors
.template-color {
  color: var(--template-color);
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.tertiary-text {
  color: var(--tertiary-color);
}

.quaternary-text {
  color: var(--quaternary-color);
}

.quinary-text {
  color: var(--quinary-color);
}

.senary-text {
  color: var(--senary-color);
}

.septenary-text {
  color: var(--septenary-color);
}

.neutral-text {
  color: #dfdfdfcc;
}

// background colors
.template-bg {
  background-color: var(--template-bg);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.tertiary-bg {
  background-color: var(--tertiary-color);
}

.quaternary-bg {
  background-color: var(--quaternary-color);
}

.quinary-bg {
  background-color: var(--quinary-color);
}

.senary-bg {
  background-color: var(--quinary-color);
}

.septenary-bg {
  background-color: var(--septenary-color);
}

.white-bg {
  background-color: var(--white);
}

.black-bg {
  background-color: var(--black);
}

// spacing
.gutter-60 {
  row-gap: 60px;
}

.gutter-40 {
  row-gap: 40px;
}

.gutter-30 {
  row-gap: 30px;
}

.gutter-24 {
  row-gap: 24px;
}

.gutter-20 {
  row-gap: 20px;
}

.gutter-16 {
  row-gap: 16px;
}

.gutter-12 {
  row-gap: 16px;
}

.pt-160 {
  padding-block-start: 120px;
}

.pt-100 {
  padding-block-start: 80px;
}

.pt-80 {
  padding-block-start: 80px;
}

.pb-160 {
  padding-block-end: 120px;
}

.pb-100 {
  padding-block-end: 80px;
}

.pb-80 {
  padding-block-end: 80px;
}

.mt-160 {
  margin-block-start: 120px;
}

.mt-100 {
  margin-block-start: 80px;
}

.mt-80 {
  margin-block-start: 80px;
}

.mt-60 {
  margin-block-start: 40px;
}

.mt-55 {
  margin-block-start: 35px;
}

.mt-50 {
  margin-block-start: 50px;
}

.mt-45 {
  margin-block-start: 45px;
}

.mt-40 {
  margin-block-start: 40px;
}

.mt-35 {
  margin-block-start: 35px;
}

.mt-30 {
  margin-block-start: 30px;
}

.mt-25 {
  margin-block-start: 25px;
}

.mt-20 {
  margin-block-start: 20px;
}

.mt-18 {
  margin-block-start: 18px;
}

.mt-16 {
  margin-block-start: 16px;
}

.mt-14 {
  margin-block-start: 14px;
}

.mt-12 {
  margin-block-start: 12px;
}

.mt-10 {
  margin-block-start: 10px;
}

.mt-8 {
  margin-block-start: 8px;
}

.mt-6 {
  margin-block-start: 6px;
}

.mt-4 {
  margin-block-start: 4px !important;
}

.mt-2 {
  margin-block-start: 2px !important;
}

.mb-160 {
  margin-block-end: 120px;
}

.mb-100 {
  margin-block-end: 80px;
}

.mb-80 {
  margin-block-end: 80px;
}

.mb-60 {
  margin-block-end: 40px;
}

.mb-55 {
  margin-block-end: 35px;
}

.mb-50 {
  margin-block-end: 50px;
}

.mb-45 {
  margin-block-end: 45px;
}

.mb-40 {
  margin-block-end: 40px;
}

.mb-35 {
  margin-block-end: 35px;
}

.mb-30 {
  margin-block-end: 30px;
}

.mb-25 {
  margin-block-end: 25px;
}

.mb-20 {
  margin-block-end: 20px;
}

.mb-15 {
  margin-block-end: 15px;
}

.mb-10 {
  margin-block-end: 10px;
}

.mb-8 {
  margin-block-end: 8px;
}

.mb-5 {
  margin-block-end: 5px !important;
}

.mb-3 {
  margin-block-end: 3px !important;
}

.w-full {
  width: 100%;
  max-width: 100% !important;
}

// sticky items
.sticky-wrapper {
  position: relative;
}

.sticky-item {
  position: sticky;
  inset-block-start: 120px;
}

// divider
.divider {
  border-color: #22232c3d;
}

// title animation
.title-animation {
  text-transform: lowercase;

  &>div {
    &>div {
      &:nth-child(1) {
        text-transform: uppercase;
      }
    }
  }

  &>span {
    &>div {
      &>div {
        &:nth-child(1) {
          text-transform: uppercase;
        }
      }
    }
  }
}

.section__header {
  p {
    max-width: 650px;
    margin-inline: auto;
  }
}

.section__header-wrapper {
  .section__header {
    max-width: 580px;
  }
}


.pulse-text-light {
  display: none;
}

.prefix {
  margin-inline-start: 6px;

}

.parallax-image {
  transform: scale(1.2);
  transform-origin: 50% 100%;
}

.parallax-image-wrap {
  width: 100%;
}

// error
.error {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;

  p {
    max-width: 560px;
    margin-inline: auto;
  }
}

.error__thumb {
  img {
    max-width: 30vw;
    min-width: 200px;
  }
}

[data-aos=fade-up] {
  transform: translate3d(0, 40px, 0);
  // transform: translate3d(0, 40px, 0) !important;
}



@keyframes pulseSm {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.2) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
    opacity: 0.8;
  }

  25% {
    opacity: 1;
  }

  50% {
    transform: translateX(50px);
    opacity: 0.8;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 0.8;
  }
}

@keyframes moveTopBottom {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }

  25% {
    opacity: 1;
  }

  50% {
    transform: translateY(50px);
    opacity: 0.8;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  1% {
    transform: rotate(30deg);
  }

  3% {
    transform: rotate(-28deg);
  }

  5% {
    transform: rotate(34deg);
  }

  7% {
    transform: rotate(-32deg);
  }

  9% {
    transform: rotate(30deg);
  }

  11% {
    transform: rotate(-28deg);
  }

  13% {
    transform: rotate(26deg);
  }

  15% {
    transform: rotate(-24deg);
  }

  17% {
    transform: rotate(22deg);
  }

  19% {
    transform: rotate(-20deg);
  }

  21% {
    transform: rotate(18deg);
  }

  23% {
    transform: rotate(-16deg);
  }

  25% {
    transform: rotate(14deg);
  }

  27% {
    transform: rotate(-12deg);
  }

  29% {
    transform: rotate(10deg);
  }

  31% {
    transform: rotate(-8deg);
  }

  33% {
    transform: rotate(6deg);
  }

  35% {
    transform: rotate(-4deg);
  }

  37% {
    transform: rotate(2deg);
  }

  39% {
    transform: rotate(-1deg);
  }

  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

/* ==== 
 --------- (2.03) global styles end ---------
 ==== */