/* ==== 
 --------- (3.03) preloader styles start ---------
 ==== */

#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-bg {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: var(--secondary-color, #111);
  transition: transform 1s ease-in-out;
  z-index: 5;
}

.preloader-bg-one {
  top: 0;
}

.preloader-bg-two {
  bottom: 0;
}

.txt-loading {
  position: relative;
  display: flex;
  z-index: 10;
  transition: opacity 1s ease;
  transform: rotate(-45deg);
}

.letters-loading {
  font-size: clamp(40px, 8vw, 200px);
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transform: translateX(20px);
  animation: letterFadeUp 1.2s forwards;

  &:nth-of-type(1) {
    animation-delay: 0.15s;
  }

  &:nth-of-type(2) {
    animation-delay: 0.30s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.45s;
  }

  &:nth-of-type(4) {
    animation-delay: 0.60s;
  }

  &:nth-of-type(5) {
    animation-delay: 0.75s;
  }

  &:nth-of-type(6) {
    animation-delay: 0.90s;
  }

  &:nth-of-type(7) {
    animation-delay: 1.05s;
  }
}


@keyframes letterFadeUp {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  60% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0.8;
    transform: translateX(0);
  }
}



/* ==== 
 --------- (3.03) preloader styles end ---------
 ==== */