/* ==== 
 --------- (3.02) forms styles start ---------
 ==== */

.input-group {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;

  .input-single {
    margin-bottom: 0px;
  }
}

.input-single {
  width: 100%;
  margin-bottom: 24px;

  input,
  textarea,
  .select {
    width: 100%;
    padding: 16px 24px;
    background-color: transparent;
    border: 1px solid var(--senary-color);
    color: var(--white);
    transition: var(--transition);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 300;

    &:focus {
      border-color: var(--secondary-color);
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  textarea {
    min-height: 200px;
    border-radius: 16px;
  }
}



.select {
  background-color: transparent;
  float: unset;
  width: 100%;
  text-align: start !important;

  &::after {
    right: unset;
    inset-inline-end: 24px;
    width: 7px;
    height: 7px;
    border-color: var(--white);
    margin-top: -5px;
  }

  .current {
    line-height: 1;
    color: var(--white);
    opacity: 0.5;
    font-weight: 300 !important;
  }

  .option {
    min-height: auto;
    width: 100%;
    padding-block: 16px;
    color: var(--black);
    line-height: 1;
    text-align: start;
  }

  .current {
    color: white;
    line-height: 1;
    font-weight: 500;
  }

  .list {
    padding: 12px 0px;
    border-color: #0d1c3450;
    background-color: var(--white);
    width: 100%;

    .option {
      padding-inline: 30px;
    }
  }
}

.review__form {
  .input-group {
    row-gap: 30px;
  }

  label {
    margin-bottom: 12px;
  }

  input,
  textarea {
    background-color: var(--quaternary-color);
  }

  .btn--secondary {
    width: 100%;
    justify-content: center;
  }
}

/* ==== 
 --------- (3.02) forms styles end ---------
 ==== */