/* ==== 
 --------- (5.09) about styles start ---------
 ==== */

.about {
    .about__counter {
        direction: ltr;

        h2 {
            font-size: 80px;
            line-height: 90px;
        }

        .complete-text {
            padding: 16px 40px;
            border-radius: 120px;
            border: 1px solid var(--template-color);
            margin-top: 10px;
            font-size: 16px;
            line-height: 26px;
        }
    }

    .about__award {
        direction: ltr;

        h2 {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: var(--secondary-color);
            -webkit-text-stroke-width: 1px;
            font-family: var(--kumbh);
            font-weight: 900;
            font-size: 80px;
            line-height: 90px;
        }

        h5 {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: var(--senary-color);
            -webkit-text-stroke-width: 1px;
            font-family: var(--kumbh);
            font-weight: 900;
            text-transform: uppercase;
            font-size: 50px;
            line-height: 60px;
        }
    }
}

// about section two styles
.about-two {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .about-two__thumb {
        img {
            width: 100%;
            min-height: 300px;
        }
    }

    .about-two__counter {
        border: 1px solid var(--senary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
    }

    .counter__content {
        padding: 21px 20px;
        border-inline-end: 1px solid var(--senary-color);
        width: calc(50% - 32px);
        flex-grow: 1;

        &:nth-last-of-type(1) {
            border-inline-end: 0px;
        }
    }

    .about-two__cta {
        a {
            color: var(--secondary-color);
            position: relative;
            text-decoration: underline;
        }
    }

    .about-two__single-first {
        max-width: 380px;
        margin-inline-end: auto;
    }

    .about-two__single {
        height: 100%;
    }

    .about-two__single-thumb {
        display: flex;
        align-items: flex-end;
    }

    .about-two__single-alt {
        max-width: 380px;
        margin-inline-end: auto;
    }
}

// about section three styles
.about-three {

    .about-three__inner {
        .thumb {
            img {
                width: 100%;
            }
        }

        p {
            max-width: 370px;
            margin-inline: auto;
            text-align: center;
        }
    }

    img {
        min-height: 300px;
    }

    .about-three__single-alt {
        .thumb {
            img {
                width: 100%;
            }
        }
    }

    .about-three__counter {
        padding: 60px 20px;
        background-color: var(--quaternary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        flex-direction: column;
    }


    p {
        font-size: 16px;
    }

    .about-three__count {
        margin-top: -12px;
        max-width: 200px;
        text-align: center;

        p {
            margin-top: -1px;
        }
    }
}

// about me section styles
.about-me {
    overflow: hidden;

    .hero-two-thumb {
        max-width: 510px;
        text-align: end;

        span {
            position: absolute;
            inset-inline: 0px;
            inset-block-end: 0px;
            background-color: var(--secondary-color);
            width: 100%;
            height: 80%;
            max-height: 580px;
            z-index: -1;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 12px;
            clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 50%);
        }

        img {
            max-width: 430px;
        }
    }

    h2 {
        span {
            color: var(--secondary-color);
            position: relative;
            transition: var(--transition);

            &::before {
                content: '';
                position: absolute;
                inset-inline: 0px;
                width: 100%;
                inset-block-end: 0px;
                height: 1px;
                background-color: var(--secondary-color);
                transition: var(--transition);
            }

            &:hover {
                color: var(--template-color);

                &::before {
                    background-color: var(--template-color);
                }
            }


        }
    }

    li {
        display: flex;
        align-items: center;
        column-gap: 40px;
        row-gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 16px;

        &:nth-last-of-type(1) {
            margin-bottom: 0px;
        }

        .primary-text {
            min-width: 120px;
        }
    }
}


/* ==== 
 --------- (5.09) about styles end ---------
 ==== */