/* ==== 
 --------- (5.05) skill styles start ---------
 ==== */

.skill {
    .section__header {
        p {
            max-width: 510px;
        }
    }

    .skill__tab-btns {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 12px;
        background-color: var(--quaternary-color);
        padding: 10px;
        border-radius: 40px;
    }

    .skill-tab-btn {
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 40px;
    }

    .active {
        background-color: var(--secondary-color);
        color: var(--white);
    }

    .skill__tab-inner {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .skill__tab {
        padding: 16px;
        padding-bottom: 50px;
        background-color: var(--quaternary-color);
        border: 1px solid var(--quinary-color);
        margin-bottom: 5px;
        border-radius: 120px;
        margin-inline: auto;
        transition: var(--transition);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 0px;
            width: 100%;
            height: 100%;
            border-radius: 120px;
            background-color: transparent;
            z-index: -1;
            top: 5px;
            transition: var(--transition);
        }

        &:hover {
            &::before {
                background-color: var(--secondary-color);
            }
        }


        .text-xl {
            letter-spacing: 1px;
        }
    }

    .active {
        &::before {
            background-color: var(--secondary-color);
        }
    }

    .prefix {
        margin-inline-start: 2px;
    }

    .thumb {
        width: 160px;
        height: 160px;
        min-width: 160px;
        background-color: var(--quinary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-inline: auto;
    }
}

// skill two section styles
.skill-two {

    .skill__tab-btns {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 12px;
        background-color: var(--quaternary-color);
        padding: 10px;
        border-radius: 0px;
    }

    .skill-tab-btn {
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 0px;
        text-transform: uppercase;
    }

    .active {
        background-color: var(--secondary-color);
        color: var(--white);
    }

    .skill-two__single {
        background-color: var(--quaternary-color);

        &:hover {
            .skill-two__intro {
                background-color: var(--secondary-color);
            }
        }
    }

    .skill-two__intro {
        padding: 24px 20px;
        background-color: var(--quinary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        flex-wrap: wrap;
        transition: var(--transition);
    }

    .skill-two__content {
        padding: 40px 20px;
    }

}

// skill section four styles
.skill-four {

    .skill-four__single {
        padding: 40px 20px;
        border: 1px solid var(--senary-color);
    }

    .skill-four__intro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: nowrap;

        .content {
            display: flex;
            align-items: center;
            gap: 16px;
            flex-wrap: wrap;

            img {
                width: 40px;
                height: 40px;
                filter: brightness(0) saturate(100%) invert(82%) sepia(95%) saturate(0%) hue-rotate(76deg) brightness(114%) contrast(104%);
            }
        }
    }

    h5 {
        font-size: 16px;
        line-height: 26px;
    }

    .progress-value {
        padding: 8px 20px;
        border: 1px solid var(--senary-color);
        border-radius: 60px;
    }

    .single-progress__bar {
        width: 100%;
        height: 5px;
        background-color: var(--quaternary-color);
        border-radius: 5px;
        position: relative;
    }

    .progress-bar {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 0;
        height: 100%;
        border-radius: 5px;
        background-color: var(--tertiary-color);
        transition: width 100ms ease;
    }
}

.skill-five {
    .section__header {
        max-width: 630px;
        margin-inline: auto;
    }
}

/* ==== 
 --------- (5.05) skill styles end ---------
 ==== */