.light-mode {
    --template-bg: #ffffff;
    --template-color: #060606;
    --tertiary-color: #00654e;
    --quaternary-color: #ece3e3;
    --senary-color: #d9cfcf;
    background-color: var(--white);
    height: 100%;




    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--template-color);
    }

    .text-white {
        color: var(--template-color) !important;
    }

    .primary-text {
        color: var(--template-color);
    }


    .input-single {

        input,
        textarea,
        .select {
            color: var(--template-color);

            &::placeholder {
                color: var(--template-color);

            }
        }
    }

    .select {
        &::after {
            border-color: var(--template-color);
        }

        .current {
            color: var(--template-color);
        }
    }

    .neutral-text {
        color: #1b1b1bd9;
    }

    .cursor-outer {
        &.cursor-big {
            background-color: var(--template-bg);
        }
    }

    .btn-primary {

        .btn-text,
        .btn-icon {
            color: var(--white);
        }

        &:hover {

            .btn-text,
            .btn-icon {
                color: var(--template-color);
            }
        }
    }

    .btn--tertiary {
        color: var(--template-color);

        &:hover {
            color: var(--white);
        }
    }

    .btn-anim {
        border-color: var(--template-color);
        color: var(--template-color);

        &:hover {
            color: var(--white);
            border-color: var(--secondary-color);
        }
    }


    .social {
        a {
            color: var(--template-color);

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    .header {
        .navbar__item {
            a {
                color: var(--template-color);

                &:hover {
                    color: var(--secondary-color);
                }
            }

            .dropdown-label-alter {


                &::before {
                    border-bottom-color: var(--black);
                }
            }
        }

        .navbar__item--has-children {
            &:hover {
                &>.navbar__dropdown-label {
                    color: var(--secondary-color);
                }
            }
        }

        .navbar__sub-menu {
            .active>a {
                color: var(--secondary-color);
            }
        }

        .active>.navbar__dropdown-label,
        .active>a {
            color: var(--secondary-color);
        }

        .mega-menu {
            li {
                &>a {
                    color: #705c5c;
                }

                &:hover {
                    &>a {
                        color: var(--template-color);
                    }
                }
            }

            .active>a {
                color: var(--template-color);
            }
        }

        .open-offcanvas-nav {
            span {
                background-color: var(--black);
            }
        }

    }

    .mobile-menu {
        .navbar__item {
            a {
                color: var(--black);

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        .active>.navbar__dropdown-label,
        .active>a {
            color: var(--secondary-color);
        }

        .navbar__list {

            &>li {

                &>a,
                button {
                    border-bottom: 1px solid rgba(52, 36, 36, 0.25);
                }

                &:nth-of-type(2) {
                    border-top: 1px solid rgba(52, 36, 36, 0.25);
                }
            }
        }

        .navbar__item--has-children {
            .navbar__dropdown-label {
                &::after {
                    border-inline-start: 1px solid rgba(52, 36, 36, 0.25);
                }
            }

            &:hover {
                &>.navbar__dropdown-label-sub {
                    color: var(--secondary-color) !important;

                    &:hover {
                        color: var(--secondary-color) !important;
                    }
                }
            }
        }

        .navbar__sub-menu {

            a,
            button {
                color: var(--black);
                border-bottom: 1px solid rgba(52, 36, 36, 0.25);
            }

            li {
                &:nth-last-of-type(1) {

                    a,
                    button {
                        border-bottom: 1px solid rgba(52, 36, 36, 0.25);
                    }
                }
            }

            .navbar__item--has-children {
                &>a {
                    &:hover {
                        color: var(--black) !important;
                    }
                }
            }
        }

        .navbar__item-active {
            color: var(--secondary-color) !important;
        }

        .close-mobile-menu {
            color: var(--black);
        }
    }

    .hero-two .hero-two__left img {
        filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(42%) hue-rotate(235deg) brightness(99%) contrast(100%);
    }

    .hero-three {

        .bg-img {
            background: linear-gradient(180deg, rgba(118, 144, 255, 0.18) 0%, rgba(118, 144, 255, 0.00) 100%);

            &::before,
            &::after {
                background: linear-gradient(180deg, rgba(118, 144, 255, 0.18) 0%, rgba(118, 144, 255, 0.00) 100%);
            }
        }

        .hero-three__intro {
            span {
                -webkit-text-stroke-color: var(--black);
            }
        }
    }

    .hero-five {
        .hero-five__cta {
            a {
                &:hover {
                    color: var(--black);
                }
            }
        }
    }



    .breadcrumb {
        border-color: #00000030;

        a {
            color: var(--template-color);

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    .banner {
        background-color: var(--quaternary-color);

        .banner-shape {
            img {
                opacity: 0.4;
            }
        }
    }

    .service {
        .service__cta {
            img {
                filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(96%) contrast(92%);
            }
        }
    }

    .service-two {
        .content__cta {

            a {
                &:hover {
                    color: var(--black);
                }
            }
        }
    }

    .skill {
        .skill__tab {
            .thumb {
                background-color: #e9d5d5;
            }
        }
    }

    .skill-four {


        .skill-four__intro {


            .content {

                img {
                    filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(7500%) hue-rotate(306deg) brightness(109%) contrast(101%);

                }
            }
        }
    }

    .testimonial .testimonial__intro img {
        opacity: 0.2;
        filter: brightness(0) saturate(100%) invert(0%) sepia(90%) saturate(47%) hue-rotate(217deg) brightness(106%) contrast(100%);
    }


    .testimonial {
        .testimonial__inner {
            &::before {
                background: linear-gradient(90deg, #c1baba 0%, #c1baba 25.77%, #c1baba90 43.87%, #c1baba00 87.29%);
            }

            &::after {
                background: linear-gradient(-90deg, #c1baba 0%, #c1baba 25.77%, #c1baba90 43.87%, #c1baba00 87.29%);
            }
        }
    }

    .pricing-two {
        .pricing-two__single {
            background-color: #F5F5F5;
        }

        .pricing__content-right {
            background-color: #EAEAEA;
        }
    }


    .details__block {
        q {
            color: var(--white);
        }
    }

    .details__footer {
        .footer__tag-wrapper {
            a {
                color: var(--template-color);

                &:hover {
                    color: var(--white);
                }
            }
        }
    }


    .contact {
        .contact__info-single {
            a {
                color: #1b1b1b95;
            }

            i {
                color: var(--template-color);
            }

            &:hover {

                a,
                i {
                    color: var(--secondary-color);
                }
            }
        }
    }


    .portfolio-four {
        h3 {
            color: var(--white);
        }

        .divide {
            color: var(--white);
        }
    }

    .testimonial-four {
        .quote {

            img {
                filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(17%) hue-rotate(348deg) brightness(94%) contrast(106%);
            }
        }

        .ratings {
            i {
                color: var(--secondary-color);
            }
        }
    }

    .skill-five,
    .skill-two {
        .skill-two__intro {
            p {
                color: var(--white);
            }
        }
    }

    .contact-two {
        label {
            color: var(--template-color);
        }

    }

    .comment-single .reply-button {
        button {
            &:hover {
                color: var(--template-color);
            }
        }
    }

    .comment-single .reply-button .active {
        color: var(--template-color);
    }

    .cta {
        h2 {
            .primary-text {
                color: var(--secondary-color);
            }
        }
    }

    .service-five {
        img {
            filter: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(7469%) hue-rotate(300deg) brightness(103%) contrast(110%);
        }

        .service-five__single {
            &:hover {
                img {
                    filter: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(7469%) hue-rotate(300deg) brightness(103%) contrast(110%);
                }
            }
        }
    }


    .blog-three {
        .blog-two__cta {
            a {
                i {
                    background-color: var(--template-color);
                    color: var(--white);
                }

                &:hover {
                    i {
                        background-color: var(--secondary-color);
                        color: var(--white);
                    }
                }
            }
        }
    }


    .footer__copyright {
        .social {
            a {
                color: var(--template-color);

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        p {
            a {
                color: var(--secondary-color);

                &:hover {
                    color: var(--template-color);
                }
            }
        }
    }
}


.light-mode.page-three {
    --secondary-color: #305a8c;
}

.page-four.light-mode {


    .header {
        .navbar__item {
            a {
                color: #ffffff;

                &:hover {
                    color: var(--octonary-color);
                }
            }

            .dropdown-label-alter {


                &::before {
                    border-bottom-color: var(--octonary-color);
                }
            }
        }

        .navbar__sub-menu {
            a {
                color: #705c5c;

                &:hover {
                    color: var(--black);
                }
            }


        }

        .navbar__item--has-children {
            &:hover {
                &>.navbar__dropdown-label {
                    color: var(--octonary-color);
                }

                &>.navbar__dropdown-label-sub {
                    color: var(--black);
                }

            }
        }

        .navbar__sub-menu {
            .active>a {
                color: var(--black);
            }
        }

        .active>.navbar__dropdown-label,
        .active>a {
            color: var(--octonary-color);
        }

        .mega-menu {
            li {
                &>a {
                    color: #705c5c;
                }

                &:hover {
                    &>a {
                        color: var(--black);
                    }
                }
            }

            .active>a {
                color: var(--black);
            }

            .mega-content {
                a {
                    color: var(--black);
                }
            }
        }

        .open-offcanvas-nav {
            span {
                background-color: var(--octonary-color);
            }
        }

    }

    .mobile-menu {

        .mobile-menu__wrapper {
            background-color: #101010;
        }

        .navbar__item {
            a {
                color: #ffffff;

                &:hover {
                    color: var(--octonary-color);
                }
            }
        }

        .social {
            a {
                border-color: #1B1B1B;
                color: var(--white);

                &:hover {
                    border-color: var(--secondary-color);
                    color: var(--secondary-color);
                }
            }
        }

        .active>.navbar__dropdown-label,
        .active>a {
            color: var(--octonary-color);
        }

        .navbar__list {

            &>li {

                &>a,
                button {
                    border-bottom: 1px solid rgb(52 36 36);
                }

                &:nth-of-type(2) {
                    border-top: 1px solid rgb(52 36 36);
                }
            }
        }

        .navbar__item--has-children {
            .navbar__dropdown-label {
                &::after {
                    border-inline-start: 1px solid rgb(52 36 36);
                }
            }

            &:hover {
                &>.navbar__dropdown-label-sub {
                    color: var(--octonary-color) !important;

                    &:hover {
                        color: var(--octonary-color) !important;
                    }
                }
            }
        }

        .navbar__sub-menu {

            a,
            button {
                color: #ffffff;
                border-bottom: 1px solid rgb(52 36 36);
            }

            li {
                &:nth-last-of-type(1) {

                    a,
                    button {
                        border-bottom: 1px solid rgb(52 36 36);
                    }
                }
            }

            .navbar__item--has-children {
                &>a {
                    &:hover {
                        color: var(--black) !important;
                    }
                }
            }
        }

        .navbar__item-active {
            color: var(--octonary-color) !important;
        }

        .close-mobile-menu {
            color: var(--octonary-color);
        }
    }

    .sticky-header {
        background-color: #060606;
        border-bottom: 1px solid #1B1B1B;
    }

    .hero-four {
        .btn-anim {
            border: 1px solid var(--secondary-color);
            color: var(--white);

            span {
                background: var(--secondary-color);
            }

            &:hover {
                color: var(--white);
                border: 1px solid var(--secondary-color);
            }
        }
    }
}