/* ==== 
 --------- (3.06) widgets styles start ---------
 ==== */

// social
.social {
  display: flex;
  align-items: center;
  gap: 12px;

  a {
    font-size: 20px;
    color: var(--white);
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--senary-color);

    &:hover {
      border-color: var(--secondary-color);
      color: var(--secondary-color);
    }
  }
}

// breadcrumb
.breadcrumb {
  margin-bottom: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  padding: 20px 30px;
  border-radius: 50px;
  border: 1px solid #dfdfdf33;

  .breadcrumb-item,
  a {
    color: var(--white);
    line-height: 1;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
  }

  a {
    &:hover {
      color: #C9F31D;
    }
  }

  .breadcrumb-item+.breadcrumb-item {
    padding-left: 0px;
    color: var(--secondary-color);
    position: relative;
    padding-inline-start: 24px;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--secondary-color);
      margin-bottom: -2px;
      position: absolute;
      inset-inline-start: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .active {
    color: var(--secondary-color) !important;
  }
}


// pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  direction: ltr;

  button {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--white);
    transition: var(--transition);
    padding-top: 2px;
    font-weight: 600;

  }

  a {
    background-color: transparent;
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--octonary-color);
      color: var(--black);
    }
  }

  .active {
    background-color: var(--octonary-color);
    color: var(--black);
  }

  button {
    i {
      font-size: 20px !important;
    }
  }
}

// sidebar widget
.sidebar__widget {
  padding: 40px 20px;
  background-color: var(--quaternary-color);
  border-radius: 12px;



  .sidebar__widget-header {
    margin-bottom: 40px;

    h5 {
      position: relative;
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        width: 3px;
        height: 100%;
        background-color: var(--secondary-color);
      }
    }
  }


  .search-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    background-color: var(--senary-color);
    padding-inline: 20px;
    border-radius: 8px;

    input {
      border: 0px;
      background-color: transparent;
      flex-grow: 1;
      padding-block: 20px;
      width: 100%;

      &::placeholder {
        color: var(--template-color);
        opacity: 0.6;
      }
    }


    button {
      font-size: 20px;
      width: 40px;
      height: 40px;
      min-width: 40px;
      background-color: var(--secondary-color);
      border-radius: 5px;
      color: var(--white);
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: var(--black);
        background-color: var(--octonary-color);
      }
    }
  }

  .sidebar__categories {
    a {
      justify-content: space-between;
      width: 100%;
      padding: 20px;
      background-color: var(--senary-color);
      border-radius: 12px;
      font-size: 16px;

      &:hover {
        background-color: var(--secondary-color);
        color: var(--white);

        span {
          color: var(--white);
        }
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      margin-bottom: 12px;

      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }

      span {
        transition: var(--transition);

      }
    }
  }

  .recent-item-single {
    display: flex;
    gap: 16px;
    row-gap: 30px;
    flex-direction: column;
    align-items: flex-start;

    .recent-thumb {
      line-height: 0px;

      a {
        min-width: 120px;
        height: 120px;
        border-radius: 12px;

        img {
          width: 100%;
          height: 120px;
          border-radius: 12px;
        }
      }
    }

    p {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 8px;
      margin-top: -8px;

      i {
        font-size: 24px;
        color: var(--quaternary-color);
      }
    }

    h6 {
      a {
        &:hover {
          color: var(--template-color);
        }
      }
    }
  }

  .recent-item-wrapper {
    .divide {
      width: 100%;
      height: 1px;
      background-color: var(--template-color);
      opacity: 0.1;
      margin: 30px 0px;
    }
  }

  .sidebar__tags {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;

    .btn--secondary {
      .btn-animated-text {
        background-color: var(--secondary-color);
        font-size: 16px;
        padding: 12px 20px;
        border-radius: 8px;
        color: var(--template-color);

        &::before,
        &::after {
          background-color: var(--senary-color);
        }
      }

      &:hover {
        .btn-animated-text {
          span {
            color: var(--white);
          }
        }
      }

    }
  }
}



/* ==== 
 --------- (3.06) widgets styles end ---------
 ==== */