/* ==== 
 --------- (5.10) faq styles start ---------
 ==== */

.faq {

  .section__header {
    max-width: 500px;
  }


  .testimonial__single {
    padding: 40px 20px;
    background-color: var(--quaternary-color);
    border-radius: 12px;

    p {
      max-width: 540px;
    }
  }

  .testimonial__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;

    img {
      width: 40px;
      height: 30px;
      opacity: 0.1;
    }
  }

  .ratings {
    display: flex;
    align-items: center;
    gap: 4px;

    i {
      font-size: 20px;
      color: var(--octonary-color);
    }
  }

  .testimonial__author {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    img {
      width: 50px;
      height: 50px;
      min-width: 50px;
      border-radius: 50%;
    }
  }

  .accordion-item {
    margin-bottom: 16px;
    background-color: var(--quaternary-color);
    border-radius: 4px;
    border: 0px solid transparent;
    box-shadow: 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);

    &:last-of-type {
      margin-bottom: 0px;
    }



    .accordion-button:not(.collapsed) {
      color: var(--template-color);
      border-radius: 0px;
      box-shadow: none;

      &::after {
        color: var(--template-color);
        transform: rotate(0deg);
        content: "\e32a";
      }
    }

    .accordion-button {
      border-radius: 0px;
      color: var(--template-color);
      position: relative;
      background-color: transparent;
      box-shadow: none;
      border-radius: 10px;
      padding: 20px;
      font-weight: 300;
      text-transform: capitalize;

      &::after {
        content: "\e3d4";
        font-family: "Phosphor" !important;
        width: 24px;
        min-width: 24px;
        height: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px;
        background-image: none;
        font-size: 18px;
        color: var(--template-color);
      }
    }
  }

  .accordion-item:first-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 0px;
  }

  .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 0px;
  }

  h6 {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;

    button {
      padding: 0px;
      font-weight: 300;
      line-height: inherit;
      border: none;
      outline: none;
      box-shadow: 0px 0px 0px;
      padding: 18px 0px;
      border-radius: 10px;
      font-size: 16px;
    }
  }

  .accordion-body {
    padding: 24px 20px;
    border: 0px;
    border-top: 1px solid var(--senary-color);

    p {
      font-size: 16px;
    }
  }
}


//  faq two section styles
.faq-two {


  .section__header {
    margin-inline: auto;
  }

  .faq__thumb {
    height: 100%;
    max-width: 440px;
    margin-inline: auto;

    img {
      width: 100%;
      min-height: 300px;
      height: 100%;
      border-radius: 12px;
    }

    .parallax-image-wrap,
    .paralla-image-inner {
      border-radius: 12px;
      width: 100%;
      height: 100%;
    }
  }

  .accordion-item {
    background-color: var(--template-bg);
    box-shadow: none;
    border-bottom: 1px solid var(--senary-color);
    border-radius: 0px;

    .accordion-button {

      border-radius: 0px;
      padding: 20px 12px;
      color: var(--template-color) !important;
    }

    .accordion-button::after {
      width: 50px;
      height: 50px;
      min-width: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      content: "\E136";
      border: 1px solid var(--senary-color);
      border-radius: 50%;
      color: var(--template-color);
    }

    .accordion-button:not(.collapsed) {

      &::after {
        color: var(--secondary-color);
        transform: rotate(180deg);
        content: "\E136";
        border-color: var(--secondary-color);
      }
    }

    .accordion-body {
      padding: 12px 12px 24px;
      border: 0px;

      p {
        font-size: 18px;
      }
    }
  }


}

/* ==== 
 --------- (5.10) faq styles end ---------
 ==== */