/* ==== 
 --------- (4.01) header styles start ---------
 ==== */

.header {
    z-index: 99;
    background-color: transparent;
    padding-block: 26px;
    position: absolute;
    inset-inline: 0px;
    top: 0px;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    .navbar-logo {
        line-height: 0px;

        a {
            line-height: 0px;
        }
    }

    .navbar__menu {
        flex-grow: 1;
    }

    .navbar__list {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            line-height: 0px;
        }
    }

    .navbar__item {
        a {
            font-weight: 400;
            text-transform: uppercase;
            padding-inline: 20px;
            padding-block: 20px;
            width: 100%;
            font-size: 16px;
            line-height: 1;
            color: var(--white);

            &:hover {
                color: var(--octonary-color);
            }
        }

        .dropdown-label-alter {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0px;
                inset-inline-start: 50%;
                border: 10px solid transparent;
                border-bottom-color: var(--octonary-color);
                opacity: 0;
                transform: translateX(-50%) translateY(100%);
                transition: opacity 0.5s ease, transform 0.5s ease;
            }
        }

        &:hover {
            .dropdown-label-alter {
                &::before {
                    opacity: 1;
                    transform: translateX(-50%) translateY(0%);
                }
            }
        }
    }

    .navbar__item--has-children {
        position: relative;

        &:hover {
            &>.navbar__dropdown-label {
                color: var(--octonary-color);

                &::after {
                    transform: rotate(180deg);
                }
            }

            &>.navbar__dropdown-label-sub {
                &::after {
                    transform: rotate(-90deg);
                }
            }

            &>.navbar__sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
                pointer-events: all;
            }
        }
    }

    .navbar__dropdown-label {
        position: relative;
        justify-content: space-between;

        &::after {
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            content: "\f107";
            border: none;
            transition: transform 0.3s ease-in-out;
            font-size: 16px;
            transform: rotate(0deg);
            margin-bottom: 2px;
        }
    }

    .navbar__sub-menu {
        position: absolute;
        top: 100%;
        inset-inline-start: 0px;
        min-width: 260px;
        max-width: 260px;
        background-color: var(--white);
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        pointer-events: none;
        transition: var(--transition);
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
            0 0 0 1px hsla(230, 13%, 9%, 0.075),
            0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
            0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
            0 3.5px 6px hsla(230, 13%, 9%, 0.09);
        padding: 24px 0px;
        z-index: 9;

        li {
            &:nth-last-of-type(1) {
                >a {
                    border-bottom: 0px;
                }
            }
        }

        a {
            width: 100%;
            display: flex;
            padding: 24px 32px;
            color: #705c5c;
            position: relative;
            font-size: 16px;
            font-weight: 500;
            border-bottom: 1px solid rgba(228, 218, 218, 0.83);
            text-transform: capitalize;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                inset-inline-start: 20px;
                height: 1px;
                margin-top: 0px;
                width: 0px;
                transition: var(--transition);
                background-color: var(--black);
            }

            &:hover {
                color: var(--black);
                padding-inline-start: 40px;

                &::before {
                    opacity: 1;
                    transform: translateY(-50%) scaleX(1);
                    width: 10px;
                }
            }
        }

        .active>a {
            padding-inline-start: 40px;
            color: var(--black);

            &::before {
                opacity: 1;
                transform: translateY(-50%) scaleX(1);
                width: 10px;
            }
        }

        .navbar__item--has-children {
            &:hover {
                &>.navbar__dropdown-label-sub {
                    color: var(--black);
                }
            }
        }
    }

    .navbar__sub-menu__nested {
        top: 0%;
        inset-inline-start: 100%;
        min-width: 230px;

        &::before {
            content: "";
            position: absolute;
            transition: var(--transition);
            z-index: -1;
            inset-inline-start: -20px;
            border: 10px solid transparent;
            top: 21px;
            border-inline-end-color: var(--black);
        }
    }

    .active>.navbar__dropdown-label,
    .active>a {
        color: var(--octonary-color);
    }

    .navbar__options {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .open-offcanvas-nav {
        padding: 0px;
        display: inline-block;
        background-color: transparent;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 8px;

        span {
            height: 2px;
            background-color: var(--octonary-color);
            transition: var(--transition);
        }

        .top-bar {
            width: 30px;
        }

        .middle-bar {
            width: 34px;
        }

        .bottom-bar {
            width: 16px;
        }

        &:hover {
            span {
                background-color: var(--octonary-color);
            }
        }
    }

    .open-offcanvas-nav-active {
        .middle-bar {
            opacity: 0;
        }

        .top-bar,
        .bottom-bar {
            width: 30px !important;
        }

        .top-bar {
            transform: rotate(45deg) translateY(5px) translateX(9px);
            background-color: var(--primary-color);
        }

        .bottom-bar {
            transform: rotate(-45deg) translateY(-5px) translateX(9px);
            background-color: var(--primary-color);
        }
    }

    .mega-menu {
        min-width: max-content;
        max-width: 100%;
        background-color: var(--white);
        padding: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 12px;
        min-width: 1180px;
        inset-inline-start: -190px;

        li>a {
            justify-content: center;
            border-bottom: 0px;
            padding-left: 12px !important;
            font-weight: 700;
            padding-bottom: 10px;

            &::before {
                content: none !important;
            }
        }

        li {
            flex-grow: 1;
            width: 100%;


            &:hover {
                .mega-content-wrapper {
                    .mega-content {
                        opacity: 1;
                        visibility: visible;
                        transform: scale(1);

                        a {
                            transform: scale(1);
                        }
                    }
                }

                &>a {
                    color: var(--black);
                }
            }
        }

        .mega-content-wrapper {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            height: 400px;

            img {
                width: 100%;
                height: min-content;
                border-radius: 5px;
                object-position: top;
            }
        }

        .mega-content {
            position: absolute;
            inset: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            transform: scale(0%);
            transition: var(--transition);
            overflow: hidden;
            padding: 0px 24px;

            a {
                display: inline-flex;
                justify-content: center;
                border-radius: 60px;
                border: 0px solid transparent;
                font-weight: 700;
                background-color: var(--white);
                color: var(--black);
                padding: 20px 24px;
                transform: scale(0%);
                transition-delay: 0.3s;

                &::before,
                &::after {
                    content: none;
                }

                &:nth-of-type(2) {
                    background-color: var(--octonary-color);
                    color: var(--black);
                }
            }

        }

        .active>a {
            color: var(--black);
        }
    }
}


// sticky header
.sticky-header {
    position: fixed;
    top: 0px;
    inset-inline: 0px;
    width: 100%;
    animation: stickyNavbar 0.5s linear;
    background: var(--template-bg);
    border-bottom: 1px solid var(--senary-color);
    padding-block: 40px !important;

    @keyframes stickyNavbar {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0px);
        }
    }

}


// mobile menu
.mobile-menu {
    position: fixed;
    inset: 0px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    max-width: 400px;
    transition: all 900ms ease;

    .mobile-menu__header {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;
        padding: 0px 40px;
        justify-content: space-between;
    }

    .logo {
        line-height: 0px;

        a {
            line-height: 0px;
        }

        img {
            max-width: 150px;
        }
    }

    .close-mobile-menu {
        font-size: 40px;
        color: var(--octonary-color);
        position: relative;
        top: -45px;
        inset-inline-end: -8px;
    }

    .mobile-menu__wrapper {
        position: absolute;
        inset-inline-start: -400px;
        top: 0px;
        width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: var(--quaternary-color);
        padding: 80px 0px;
        z-index: 99999;
        border-radius: 0px;
        overflow-y: auto;
        overflow-x: clip;
        display: flex;
        flex-direction: column;
        gap: 60px;

        transition: all 900ms ease;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }

    .navbar__list {
        flex-direction: column;
        border: 0px !important;

        &>li {

            &>a,
            button {
                border-bottom: 1px solid rgb(52 36 36);
            }

            &:nth-of-type(2) {
                border-top: 1px solid rgb(52 36 36);
            }
        }
    }

    .navbar__item {
        width: 100%;
        transition: var(--transition);

        a {
            color: #ffffff;
            padding-block: 24px;
            padding-inline: 40px 80px;
            line-height: 1;
            font-size: 16px;
            text-transform: capitalize;
            width: 100%;
            position: relative;
            font-weight: 400;

            &:hover {
                color: var(--octonary-color);
            }

            &::after {
                transition: none;
            }
        }
    }

    .nav-fade {
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.7s ease-in-out !important;
    }

    .navbar__item--has-children {
        .navbar__dropdown-label {
            &::after {
                content: "\2b";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                position: absolute;
                top: 0px;
                inset-inline-end: 0px;
                bottom: 0px;
                height: 100%;
                width: 60px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transform: rotate(0deg);
                border-inline-start: 1px solid rgb(52 36 36);
            }
        }

        &:hover {
            .navbar__dropdown-label {
                &::after {
                    transform: rotate(0deg);
                }
            }

            &>.navbar__dropdown-label-sub {
                color: var(--octonary-color) !important;

                &:hover {
                    color: var(--octonary-color) !important;
                }
            }
        }
    }

    .navbar__item-active {
        color: var(--octonary-color) !important;
        font-weight: 400 !important;

        &::after {
            content: "\f068" !important;
            font-family: "Font Awesome 6 Free" !important;
            font-weight: 900;
        }
    }

    .navbar__sub-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        width: 100%;
        max-width: 100%;
        padding: 0px;
        display: none;
        transition: none;
        background-color: transparent;
        border-radius: 0px;

        &::before {
            content: none;
        }

        a,
        button {
            color: #ffffff;
            padding: 20px 40px;
            font-size: 16px;
            border-bottom: 1px solid rgb(52 36 36);

            &::before {
                content: none;
            }
        }

        li {
            &:nth-last-of-type(1) {

                a,
                button {
                    border-bottom: 1px solid rgb(52 36 36);
                }
            }
        }

        .navbar__item--has-children {
            &>a {
                &:hover {
                    color: var(--black) !important;
                }
            }
        }
    }

    .mobile-menu__options {
        padding: 0px 40px;

        a,
        button {
            width: 100%;
        }
    }

    .mobile-menu__cta {
        text-align: center;
        padding: 0px 40px;
    }

    .mobile-menu__social {
        transition: var(--transition);
        padding: 0px 12px;
        justify-content: center;
    }

    .active>.navbar__dropdown-label,
    .active>a {
        color: var(--octonary-color);
        font-weight: 400;

        &::after {
            font-weight: 900;
        }
    }
}

.mobile-menu__backdrop {
    position: fixed;
    inset-inline-end: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: 999;
    background-color: rgba(104, 30, 36, 0.9);
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
        progress;
    visibility: hidden;
    transform: translateX(101%);
    transition: all 900ms ease;
    transition-delay: 300ms;
}

.mobile-menu__backdrop-active {
    width: 100%;
    visibility: visible;
    transition: all 900ms ease;
    transform: translateX(0%);
}

.show-menu {
    opacity: 1;
    visibility: visible;

    .mobile-menu__wrapper {
        inset-inline-start: 0px;
        transition-delay: 600ms;
    }

    .nav-fade {
        animation: navLinkFade 0.5s ease forwards;
        transition: all 0.7s ease-in-out !important;
    }
}


.nav-fade-active {
    animation: navLinkFade 1s ease reverse !important;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navLinkFadeReverse {
    from {
        opacity: 0;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

/* ==== 
 --------- (4.01) header styles end ---------
 ==== */